In [5]:
import pandas as pd
import uuid

In [6]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [7]:
df = pd.read_csv('zestawienie.csv')

In [8]:
print(df['Nazwa instytucji'].count())

3000

In [9]:
df.drop_duplicates(subset='Nazwa instytucji',
                   keep=False, inplace=True)

In [10]:
print(df[['Nazwa instytucji', 'Adres - miasto']].head())

                                     Nazwa instytucji Adres - miasto
25  Akademia Górniczo-Hutnicza im. Stanisława Stas...         Kraków
34         Akademia Humanistyczno-Ekonomiczna w Łodzi           Łódź
39                     Akademia Ignatianum w Krakowie         Kraków
66            Akademia Leona Koźmińskiego w Warszawie       Warszawa
76  Akademia Marynarki Wojennej im. Bohaterów West...         Gdynia

In [11]:
df.drop_duplicates(subset='Adres - miasto',
                   keep=False, inplace=True)

In [12]:
print(df)

        Lp                                    Id
147    148  66e61654-f7b8-4e98-b641-e7ed367822b8  \
215    216  489440bb-044c-40e0-a4fd-fa2799c16420
243    244  d8a6d07c-521d-4ddd-a94a-77e57721861a
248    249  e7955751-508e-458b-97b6-ccc052379d1c
275    276  14c259b1-f8b9-4d71-80c5-0baee8b7437d
395    396  03ca86cb-b0f4-4a24-878b-cc6acc814ce5
402    403  7f4f1137-4b6a-451b-a9c9-8722effdbe7d
435    436  60c45b1a-37ec-4cae-ac91-5b1ed5bcc8ab
441    442  bde8e353-79e5-45f4-8f74-a372934b80ba
479    480  30312732-6777-4ca9-84e6-ad3f07bc18c2
570    571  3fae57f2-3c7e-4c20-a40b-d36335725b69
674    675  99d58c47-a87e-4f81-a35e-fa050452a120
693    694  3c4e0083-e15f-494e-a1b8-78e074b4dc7b
702    703  4e642ca4-5fc5-490f-b021-ce2a453fc2e4
738    739  7376b034-1ad5-422a-a3ce-b7412888cb37
797    798  60706f34-30d8-4fd5-b9fd-aec7cc467f4a
825    826  71240695-c0d4-48f6-b789-99ded7500424
826    827  b3955b46-9131-4d9e-a268-dcb6a082296e
848    849  2ff39b76-57fd-45dc-857e-c9c18946c2a7
890    891  871f5c60-995c-4a47-954e-f233630a4d4d
905    906  b6dd6bb3-5b91-4d31-9780-c1e9954bdaa9
910    911  c8d725eb-bb10-4712-84a2-35c4785a15ae
918    919  2a7324df-36f2-42a8-8637-d079ecc36d19
2145  2146  70106a6b-687c-4740-9f98-02bbada02a97
2173  2174  77de6eec-1f71-4363-bea7-e4287d49e1da
2187  2188  123b2842-5e4e-45c6-a02d-1954347c5d9c
2283  2284  3fa8a5bb-a2e7-455d-8a1e-1f71ed0d992a
2298  2299  dacccb40-e3e3-4113-a28e-54c4a59d550e
2323  2324  41ade527-eee8-4133-87f6-f9acbecc3acf
2390  2391  b1a0d3d5-0c75-4729-ac8c-71198636edf5
2392  2393  163ff4e6-d377-4559-accd-7672d40726db
2446  2447  ca889671-f723-4f4f-9cf1-ce6f662765d2
2484  2485  6fc3859a-c979-4e11-a81a-6d1df51e8be9
2487  2488  5ff8ea44-eade-441a-a4c0-a60adbeac45c
2618  2619  25ba77fe-40e2-4e29-8141-0ec81d91ba37
2623  2624  caa1fc01-796d-4b5c-9fbd-fdbf66ca99aa
2624  2625  049f566c-e08a-40dc-9f9f-f87b4360c3de
2651  2652  870fc5dc-fa42-4ea3-bb3d-0bf37a5f3a5c
2721  2722  d4b81d89-be0f-4d61-90a1-c95adbe8c0a1
2722  2723  64e2ce23-5059-4220-ae35-ffc11bebc077
2751  2752  12ae5252-c01f-4b3f-9c35-20ae5ed12882
2777  2778  b88caf64-a977-4e3e-8c24-69b626d68a5e
2778  2779  ea1761e0-822e-47a7-85b4-2c7ca4a76dd2
2885  2886  1fcbcf8f-f12f-4c09-bd48-abe2d7cbf3e2
2891  2892  5042c377-e340-4a6c-86f2-b1e177dfa9a2
2916  2917  d15f532a-aa2f-488c-b592-8231d9078471
2919  2920  df1e7362-85e6-49f2-a4b2-58a14e1844a8
2952  2953  2d882e28-cf5c-4845-bbd1-7c6c79d01063
2967  2968  2f768632-d391-4250-9ee0-d7e5fcbba3a0
2982  2983  3a2a56a7-d14d-47a0-9e71-35b6a7d9e78b
2984  2985  5f13afb5-bb33-413c-a3ae-76bc11aec8af
2985  2986  d5050f16-7784-4d0e-878b-c0d35c874e4a

                                       Nazwa instytucji
147                                Akademia Piotrkowska  \
215                         Biuro Promocji Nauki PolSCA
243              Centrum Badań i Innowacji Pro-Akademia
248   Centrum Badawczo-Konstrukcyjne Obrabiarek Sp. ...
275   Collegium Masoviense - Wyższa Szkoła Nauk o Zd...
395   Gnieźnieńska Szkoła Wyższa Milenium z siedzibą...
402   Górnośląska Wyższa Szkoła Przedsiębiorczości i...
435                         Instytut Badawczy Leśnictwa
441     Instytut Biologii Ssaków Polskiej Akademii Nauk
479   Instytut Fizjologii i Żywienia Zwierząt im. Ja...
570         Instytut Oceanologii Polskiej Akademii Nauk
674       Kaszubsko-Pomorska Szkoła Wyższa w Wejherowie
693                     Lubelska Szkoła Wyższa w Rykach
702   Małopolska Wyższa Szkoła Ekonomiczna z siedzib...
738                       Muzeum Górnośląskie w Bytomiu
797   Ośrodek Badawczo-Rozwojowy Przemysłu Płyt Drew...
825   Państwowa Wyższa Szkoła Techniczno-Ekonomiczna...
826         Państwowa Wyższa Szkoła Zawodowa w Głogowie
848   Podkarpacka Szkoła Wyższa im. bł. ks. Władysła...
890   Polska Akademia Nauk Zakład Ichtiobiologii i G...
905      Pomorska Szkoła Wyższa w Starogardzie Gdańskim
910   Powszechna Wyższa Szkoła Humanistyczna "Pomera...
918   Przemysłowy Instytut Maszyn Budowlanych Sp. z ...
2145                     STER Instytut Maciej Szymański
2173        Szkoła Wyższa im. Pawła Włodkowica w Płocku
2187                            Śląski Ogród Botaniczny
2283           Uniwersytet Mikołaja Kopernika w Toruniu
2298  Uniwersytet Przyrodniczo-Humanistyczny w Siedl...
2323                          Uniwersytet Zielonogórski
2390            Wojskowy Instytut Techniczny Uzbrojenia
2392  Wojskowy Instytut Techniki Pancernej i Samocho...
2446  Wyższa Szkoła Administracji Publicznej w Ostro...
2484  Wyższa Szkoła Biznesu - National Louis Univers...
2487             Wyższa Szkoła Biznesu w Gorzowie Wlkp.
2618  Wyższa Szkoła Humanistyczna im. Króla Stanisła...
2623  Wyższa Szkoła Humanistyczno-Ekonomiczna im. J....
2624   Wyższa Szkoła Humanistyczno-Ekonomiczna w Brzegu
2651      Wyższa Szkoła Inżynierii Gospodarki w Słupsku
2721  Wyższa Szkoła Medyczna w Legnicy z siedzibą w ...
2722                  Wyższa Szkoła Medyczna w Sosnowcu
2751   Wyższa Szkoła Nauk Stosowanych w Rudzie Śląskiej
2777    Wyższa Szkoła Pedagogiczno-Techniczna w Koninie
2778  Wyższa Szkoła Planowania Strategicznego w Dąbr...
2885  Wyższa Szkoła Teologiczno-Humanistyczna im. Mi...
2891  Wyższa Szkoła Turystyki i Ekologii w Suchej Be...
2916  Wyższa Szkoła Umiejętności Zawodowych w Pińczowie
2919  Wyższa Szkoła Współpracy Międzynarodowej i Reg...
2952   Wyższa Szkoła Zarządzania Środowiskiem w Tucholi
2967  Wyższa Szkoła Zawodowa Ochrony Zdrowia TWP w Ł...
2982   Wyższe Seminarium Duchowne Diecezji Pelplińskiej
2984  Wyższe Seminarium Duchowne Towarzystwa Salezja...
2985             Wyższe Seminarium Duchowne w Przemyślu

     Data utworzenia / data wpisu do ewiencji uczelni niepublicznych
147                                          2023-06-01               \
215                                          2006-04-01
243                                          1996-03-08
248                                          1950-01-01
275                                          2010-02-16
395                                          2003-01-23
402                                          1999-07-30
435                                          1930-07-17
441                                          1957-01-01
479                                          1955-07-02
570                                          1983-10-25
674                                          2003-09-03
693                                          1997-05-20
702                                          1995-08-04
738                                          1910-05-12
797                                          1979-01-01
825                                          1998-08-01
826                                          2004-07-01
848                                          2001-08-06
890                                          1992-07-01
905                                          2001-01-11
910                                          2004-06-19
918                                          1952-01-01
2145                                         1993-11-16
2173                                         1993-01-25
2187                                         2006-02-07
2283                                         1945-08-24
2298                                         1969-07-29
2323                                         2001-09-01
2390                                         1926-03-25
2392                                         1965-04-28
2446                                         1994-08-10
2484                                         2007-09-20
2487                                         1997-08-13
2618                                         2005-08-30
2623                                         1998-07-29
2624                                         2001-08-20
2651                                         2003-08-20
2721                                         2004-07-12
2722                                         2007-11-15
2751                                         2001-06-11
2777                                         2007-10-09
2778                                         2004-01-14
2885                                         1995-09-07
2891                                         2001-02-02
2916                                         2004-11-30
2919                                         2005-07-05
2952                                         2003-09-01
2967                                         2011-06-01
2982                                         1651-09-13
2984                                         1952-07-04
2985                                         1687-02-06

                                  Organ nadzorujący      Rodzaj instytucji
147    Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna  \
215                            Polska Akademia Nauk     Instytucja naukowa
243                                             NaN     Instytucja naukowa
248                                             NaN     Instytucja naukowa
275    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
395    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
402    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
435   Minister Środowiska i Klimatu (poprzednio MŚ)     Instytucja naukowa
441                            Polska Akademia Nauk     Instytucja naukowa
479                            Polska Akademia Nauk     Instytucja naukowa
570                            Polska Akademia Nauk     Instytucja naukowa
674    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
693    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
702    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
738                                             NaN     Instytucja naukowa
797                                             NaN     Instytucja naukowa
825    Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna
826    Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna
848    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
890                            Polska Akademia Nauk     Instytucja naukowa
905    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
910    Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
918                                             NaN     Instytucja naukowa
2145                                            NaN     Instytucja naukowa
2173   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2187                                            NaN     Instytucja naukowa
2283   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna
2298   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna
2323   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia publiczna
2390                      Minister Obrony Narodowej     Instytucja naukowa
2392                      Minister Obrony Narodowej     Instytucja naukowa
2446   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2484   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2487   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2618   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2623   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2624   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2651   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2721   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2722   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2751   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2777   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2778   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2885   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia kościelna
2891   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2916   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2919   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2952   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2967   Minister Edukacji i Nauki (poprzednio MNiSW)  Uczelnia niepubliczna
2982   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia kościelna
2984   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia kościelna
2985   Minister Edukacji i Nauki (poprzednio MNiSW)     Uczelnia kościelna

     Państwowy Instytut Badawczy  Rok od kiedy Państwowy Instytut Badawczy
147                          Nie                                       NaN  \
215                          Nie                                       NaN
243                          Nie                                       NaN
248                          Nie                                       NaN
275                          Nie                                       NaN
395                          Nie                                       NaN
402                          Nie                                       NaN
435                          Nie                                       NaN
441                          Nie                                       NaN
479                          Nie                                       NaN
570                          Nie                                       NaN
674                          Nie                                       NaN
693                          Nie                                       NaN
702                          Nie                                       NaN
738                          Nie                                       NaN
797                          Nie                                       NaN
825                          Nie                                       NaN
826                          Nie                                       NaN
848                          Nie                                       NaN
890                          Nie                                       NaN
905                          Nie                                       NaN
910                          Nie                                       NaN
918                          Nie                                       NaN
2145                         Nie                                       NaN
2173                         Nie                                       NaN
2187                         Nie                                       NaN
2283                         Nie                                       NaN
2298                         Nie                                       NaN
2323                         Nie                                       NaN
2390                         Nie                                       NaN
2392                         Nie                                       NaN
2446                         Nie                                       NaN
2484                         Nie                                       NaN
2487                         Nie                                       NaN
2618                         Nie                                       NaN
2623                         Nie                                       NaN
2624                         Nie                                       NaN
2651                         Nie                                       NaN
2721                         Nie                                       NaN
2722                         Nie                                       NaN
2751                         Nie                                       NaN
2777                         Nie                                       NaN
2778                         Nie                                       NaN
2885                         Nie                                       NaN
2891                         Nie                                       NaN
2916                         Nie                                       NaN
2919                         Nie                                       NaN
2952                         Nie                                       NaN
2967                         Nie                                       NaN
2982                         Nie                                       NaN
2984                         Nie                                       NaN
2985                         Nie                                       NaN

     Data postawienia w stan likwidacji Data likwidacji  ...
147                                 NaN             NaN  ...  \
215                                 NaN             NaN  ...
243                                 NaN             NaN  ...
248                                 NaN             NaN  ...
275                                 NaN             NaN  ...
395                                 NaN             NaN  ...
402                                 NaN             NaN  ...
435                                 NaN             NaN  ...
441                                 NaN             NaN  ...
479                                 NaN             NaN  ...
570                                 NaN             NaN  ...
674                                 NaN             NaN  ...
693                                 NaN             NaN  ...
702                                 NaN             NaN  ...
738                                 NaN             NaN  ...
797                                 NaN             NaN  ...
825                                 NaN             NaN  ...
826                                 NaN             NaN  ...
848                                 NaN             NaN  ...
890                                 NaN             NaN  ...
905                                 NaN             NaN  ...
910                                 NaN             NaN  ...
918                                 NaN             NaN  ...
2145                                NaN             NaN  ...
2173                                NaN             NaN  ...
2187                                NaN             NaN  ...
2283                                NaN             NaN  ...
2298                                NaN             NaN  ...
2323                                NaN             NaN  ...
2390                                NaN             NaN  ...
2392                                NaN             NaN  ...
2446                                NaN             NaN  ...
2484                                NaN             NaN  ...
2487                                NaN             NaN  ...
2618                                NaN             NaN  ...
2623                                NaN             NaN  ...
2624                                NaN             NaN  ...
2651                                NaN             NaN  ...
2721                                NaN             NaN  ...
2722                                NaN             NaN  ...
2751                                NaN             NaN  ...
2777                                NaN             NaN  ...
2778                                NaN             NaN  ...
2885                                NaN             NaN  ...
2891                                NaN             NaN  ...
2916                                NaN             NaN  ...
2919                                NaN             NaN  ...
2952                                NaN             NaN  ...
2967                                NaN             NaN  ...
2982                                NaN             NaN  ...
2984                                NaN             NaN  ...
2985                                NaN             NaN  ...

     Instytucje dziedziczące - Rodzaj przekształcenia
147                                               NaN  \
215                                               NaN
243                                               NaN

In [46]:
print(df.describe())

                Lp  Rok od kiedy Państwowy Instytut Badawczy         REGON
count    52.000000                                       0.0  4.700000e+01  \
mean   1730.423077                                       NaN  8.542997e+10
std    1058.275944                                       NaN  5.836295e+11
min     148.000000                                       NaN  1.324000e+03
25%     700.750000                                       NaN  1.172285e+08
50%    2236.000000                                       NaN  2.765910e+08
75%    2722.250000                                       NaN  4.510914e+08
max    2986.000000                                       NaN  4.001461e+12

                NIP      KRS  Numer uczelni nadany przez ministra
count  4.600000e+01      1.0                            37.000000  \
mean   6.488181e+09  39417.0                           190.675676
std    1.802975e+09      NaN                           117.693589
min    1.130003e+09  39417.0                             9.000000
25%    5.858768e+09  39417.0                           101.000000
50%    6.532563e+09  39417.0                           176.000000
75%    7.553716e+09  39417.0                           249.000000
max    9.730713e+09  39417.0                           404.000000

       Numer wpisu do ewidencji uczelni niepublicznych
count                                        27.000000  \
mean                                        236.370370
std                                         101.353209
min                                          13.000000
25%                                         177.000000
50%                                         273.000000
75%                                         316.000000
max                                         369.000000

       Numer rejestru instytutów PAN  Instytucje poprzedzające - REGON
count                            0.0                               1.0  \
mean                             NaN                       970751880.0
std                              NaN                               NaN
min                              NaN                       970751880.0
25%                              NaN                       970751880.0
50%                              NaN                       970751880.0
75%                              NaN                       970751880.0
max                              NaN                       970751880.0

       Instytucje poprzedzające - NIP  Instytucje poprzedzające - KRS
count                    1.000000e+00                             0.0  \
mean                     9.271666e+09                             NaN
std                               NaN                             NaN
min                      9.271666e+09                             NaN
25%                      9.271666e+09                             NaN
50%                      9.271666e+09                             NaN
75%                      9.271666e+09                             NaN
max                      9.271666e+09                             NaN

       Instytucje poprzedzające - Numer w rejestrze PAN
count                                               0.0  \
mean                                                NaN
std                                                 NaN
min                                                 NaN
25%                                                 NaN
50%                                                 NaN
75%                                                 NaN
max                                                 NaN

       Instytucje poprzedzające - Numer w ewidencji uczelni niepublicznych
count                                                0.0                    \
mean                                                 NaN
std                                                  NaN
min                                                  NaN
25%                                                  NaN
50%                                                  NaN
75%                                                  NaN
max                                                  NaN

       Instytucje dziedziczące - REGON  Instytucje dziedziczące - NIP
count                              0.0                            0.0  \
mean                               NaN                            NaN
std                                NaN                            NaN
min                                NaN                            NaN
25%                                NaN                            NaN
50%                                NaN                            NaN
75%                                NaN                            NaN
max                                NaN                            NaN

       Instytucje dziedziczące - KRS
count                            0.0  \
mean                             NaN
std                              NaN
min                              NaN
25%                              NaN
50%                              NaN
75%                              NaN
max                              NaN

       Instytucje dziedziczące - Numer w rejestrze PAN
count                                              0.0  \
mean                                               NaN
std                                                NaN
min                                                NaN
25%                                                NaN
50%                                                NaN
75%                                                NaN
max                                                NaN

       Instytucje dziedziczące - Numer w ewidencji uczelni niepublicznych
count                                                0.0
mean                                                 NaN
std                                                  NaN
min                                                  NaN
25%                                                  NaN
50%                                                  NaN
75%                                                  NaN
max                                                  NaN

In [47]:
study_names = df['Nazwa instytucji'][:20]
city_names = df['Adres - miasto'][:20]

In [48]:
print(city_names)

147    Piotrków Trybunalski
215                Brussels
243     Konstantynów Łódzki
248                Pruszków
275                Żyrardów
395                 Gniezno
402                 Chorzów
435           Sękocin Stary
441              Białowieża
479                Jabłonna
570                   Sopot
674               Wejherowo
693                    Ryki
702                  Tarnów
738                   Bytom
797             Czarna Woda
825                Jarosław
826                  Głogów
848                   Jasło
890                 Zaborze
Name: Adres - miasto, dtype: object

In [49]:
university_tag_id = "c06bd022-6ded-44a5-8d90-f17685bb85a1"
city_tag_id = "c06bd022-6ded-44a5-8d90-f17685bb85a2"
kierunek_tag_id = "c06bd022-6ded-44a5-8d90-f17685bb85a3"

In [64]:
for study_name in study_names:
    print(study_name)

Akademia Piotrkowska
Biuro Promocji Nauki PolSCA
Centrum Badań i Innowacji Pro-Akademia
Centrum Badawczo-Konstrukcyjne Obrabiarek Sp. z o.o.
Collegium Masoviense - Wyższa Szkoła Nauk o Zdrowiu w Żyrardowie
Gnieźnieńska Szkoła Wyższa Milenium z siedzibą w Gnieźnie
Górnośląska Wyższa Szkoła Przedsiębiorczości im. Karola Goduli w Chorzowie
Instytut Badawczy Leśnictwa
Instytut Biologii Ssaków Polskiej Akademii Nauk
Instytut Fizjologii i Żywienia Zwierząt im. Jana Kielanowskiego Polskiej Akademii Nauk
Instytut Oceanologii Polskiej Akademii Nauk
Kaszubsko-Pomorska Szkoła Wyższa w Wejherowie
Lubelska Szkoła Wyższa w Rykach
Małopolska Wyższa Szkoła Ekonomiczna z siedzibą w Tarnowie
Muzeum Górnośląskie w Bytomiu
Ośrodek Badawczo-Rozwojowy Przemysłu Płyt Drewnopochodnych sp. z o.o.
Państwowa Wyższa Szkoła Techniczno-Ekonomiczna im. ks. Bronisława Markiewicza w Jarosławiu
Państwowa Wyższa Szkoła Zawodowa w Głogowie
Podkarpacka Szkoła Wyższa im. bł. ks. Władysława Findysza w Jaśle
Polska Akademia Nauk Zakład Ichtiobiologii i Gospodarki Rybackiej w Gołyszu

In [16]:
template = """
{
      "id": "{uuid1}",
      "content": "{content}",
      "metadata": {},
      "annotations": [
        {
          "id": "{uuid2}",
          "tag_id": "{university_tag_id}",
          "end": {end},
          "start": {start},
          "example_id": "{uuid3}",
          "tag_name": "University",
          "value": "{name}",
          "correct": null,
          "human_annotations": [
            {
              "timestamp": "2020-03-21T00:24:32.098000Z",
              "annotator_id": 1,
              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",
              "name": "Ashpat123",
              "reason": "exploration"
            }
          ],
          "model_annotations": []
        }
      ],
      "classifications": []
    }
"""

In [56]:
city_template = """
{
      "id": "{uuid1}",
      "content": "{content}",
      "metadata": {},
      "annotations": [
        {
          "id": "{uuid2}",
          "tag_id": "c06bd022-6ded-44a5-8d90-f17685bb85a2",
          "end": {end},
          "start": {start},
          "example_id": "{uuid3}",
          "tag_name": "City",
          "value": "{name}",
          "correct": null,
          "human_annotations": [
            {
              "timestamp": "2020-03-21T00:24:32.098000Z",
              "annotator_id": 1,
              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",
              "name": "jamroz_mateusz",
              "reason": "i want moree"
            }
          ],
          "model_annotations": []
        }
      ],
      "classifications": []
    }
"""

In [94]:
city_kierunek_template = """
{
      "id": "{uuid1}",
      "content": "{content}",
      "metadata": {},
      "annotations": [
        {
          "id": "{uuid2}",
          "tag_id": "c06bd022-6ded-44a5-8d90-f17685bb85a2",
          "end": {city_end},
          "start": {city_start},
          "example_id": "{uuid3}",
          "tag_name": "City",
          "value": "{city_name}",
          "correct": null,
          "human_annotations": [
            {
              "timestamp": "2020-03-21T00:24:32.098000Z",
              "annotator_id": 1,
              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",
              "name": "jamroz_mateusz",
              "reason": "i want moree"
            }
          ],
          "model_annotations": []
        },
        {
          "id": "{uuid11}",
          "tag_id": "c06bd022-6ded-44a5-8d90-f17685bb85a3",
          "end": {kier_end},
          "start": {kier_start},
          "example_id": "{uuid12}",
          "tag_name": "Subject",
          "value": "{kierunek_name}",
          "correct": null,
          "human_annotations": [
            {
              "timestamp": "2020-03-21T00:24:32.098000Z",
              "annotator_id": 1,
              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",
              "name": "jamroz_mateusz",
              "reason": "i want moree"
            }
          ],
          "model_annotations": []
        }
      ],
      "classifications": []
    }
"""

In [ ]:
### Generate random data for studies only mock
datas = [
    "Czy istnieje uczelnia o nazwie {university_name} w {city}?",
    "Czy uczelnia {university_name} znajduje się w {city}?",
    "Czy uczelnia {university_name} oferuje kierunek studiów na {kierunek}?",
    "Czy uczelnia {university_name} w {city} oferuje zarówno studia dzienne, jak i zaoczne?",
    "Jakie są perspektywy zawodowe po ukończeniu studiów na uczelni {university_name} w {city}?",
    "Pokaz dostepne uczelnie w {city}",
    "Pokaz informacje o uczelni {university_name}",
    "Uczelnia {university_name}",
    "Kierunki studiow w {city}"
]

parsed_results = []

with open('res.txt', 'w+') as file:
    file.write("[")
    for study_name in study_names:
        for word in datas:
            start_index = word.find("{university_name}")
            end_index = start_index + len(study_name)
            content = word.replace("{university_name}", study_name).replace("{city}", "Krakow")

            test_data = template.replace("{uuid1}", str(uuid.uuid1())) \
                .replace("{uuid2}", str(uuid.uuid1())) \
                .replace("{uuid3}", str(uuid.uuid1())) \
                .replace("{university_tag_id}", university_tag_id) \
                .replace("{content}", content) \
                .replace("{name}", study_name) \
                .replace("{start}", str(start_index)) \
                .replace("{end}", str(end_index))

            parsed_results.append(test_data)

            file.write(test_data)
            file.write(",")

    file.write("]")

In [ ]:
### Generate random data for studies only mock
datas = ["Pokaz mi {kierunek} w {city}",
         "Studiowanie {kierunek} w {city}",
         ]

with open('res.txt', 'w+') as file:
    for data in datas:
        for city_name in city_names:
            start_index = word.find("{city}")
            end_index = start_index + len(city_name)
            content = word.replace("{city}", city_name)

            test_data = city_university_template.replace("{uuid1}", str(uuid.uuid1())) \
                .replace("{uuid2}", str(uuid.uuid1())) \
                .replace("{uuid3}", str(uuid.uuid1())) \
                .replace("{content}", content) \
                .replace("{name}", city_name) \
                .replace("{start}", str(start_index)) \
                .replace("{end}", str(end_index))

            file.write(test_data)
            file.write(",")

In [80]:
parsed_values = [x["fieldName"] for x in fieldOfStudiesDict.values()]

In [96]:
city_kierunek_template

'\n{\n      "id": "{uuid1}",\n      "content": "{content}",\n      "metadata": {},\n      "annotations": [\n        {\n          "id": "{uuid2}",\n          "tag_id": "c06bd022-6ded-44a5-8d90-f17685bb85a2",\n          "end": {city_end},\n          "start": {city_start},\n          "example_id": "{uuid3}",\n          "tag_name": "City",\n          "value": "{city_name}",\n          "correct": null,\n          "human_annotations": [\n            {\n              "timestamp": "2020-03-21T00:24:32.098000Z",\n              "annotator_id": 1,\n              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",\n              "name": "jamroz_mateusz",\n              "reason": "i want moree"\n            }\n          ],\n          "model_annotations": []\n        },\n        {\n          "id": "{uuid11}",\n          "tag_id": "c06bd022-6ded-44a5-8d90-f17685bb85a3",\n          "end": {kier_end},\n          "start": {kier_start},\n          "example_id": "{uuid12}",\n          "tag_name": "Subject",\n          "value": "{kierunek_name}",\n          "correct": null,\n          "human_annotations": [\n            {\n              "timestamp": "2020-03-21T00:24:32.098000Z",\n              "annotator_id": 1,\n              "tagged_token_id": "979b6f5d-8e2d-4214-9e08-cc283ac3df1e",\n              "name": "jamroz_mateusz",\n              "reason": "i want moree"\n            }\n          ],\n          "model_annotations": []\n        }\n      ],\n      "classifications": []\n    }\n'

In [ ]:
### Generate random data for subject and cities mock
datas = ["Pokaz mi {kierunek} w {city}",
         "Studiowanie {kierunek} w {city}"]

with open('res.txt', 'w+') as file:
    for data in datas:
        for subject in parsed_values:
            for city_name in list(city_names):

                start_index_k = data.find("{kierunek}")
                end_index_k = start_index_k + len(subject)
                content_k =  data.replace("{kierunek}", subject)

                start_index = content_k.find("{city}")
                end_index = start_index + len(city_name)
                content = content_k.replace("{city}", city_name)

                # print(content_k)
                test_data = city_kierunek_template.replace("{uuid1}", str(uuid.uuid1())) \
                    .replace("{uuid2}", str(uuid.uuid1())) \
                    .replace("{uuid3}", str(uuid.uuid1())) \
                    .replace("{uuid11}", str(uuid.uuid1())) \
                    .replace("{uuid12}", str(uuid.uuid1())) \
                    .replace("{city_end}", str(end_index)) \
                    .replace("{city_start}", str(start_index)) \
                    .replace("{city_name}", city_name) \
                    .replace("{kier_end}", str(end_index_k)) \
                    .replace("{kier_start}", str(start_index_k)) \
                    .replace("{content}", content_k) \
                    .replace("{city}", city_name) \
                    .replace("{kierunek_name}", subject) \
                    .replace("{start}", str(start_index)) \
                    .replace("{end}", str(end_index))

                file.write(test_data)
                file.write(",")

In [73]:
import json

with open('json.txt', 'r') as file:
    data = file.read()

In [74]:
data = data.replace("\n", "")

In [75]:
data = json.loads(data)

In [77]:
fieldOfStudiesDict = {}
study_names = [x.strip() for x in study_names]

for record in data:
    if record["university"] in study_names:
        fieldOfStudiesDict[record["university"]] = record

In [78]:
print(fieldOfStudiesDict)

{'Państwowa Wyższa Szkoła Techniczno-Ekonomiczna im. ks. Bronisława Markiewicza w Jarosławiu': {'id': '0ffa5424-14ea-431a-96c9-9c92aa16e15b', 'fieldName': 'Automatyka i elektronika praktyczna', 'tier': 'pierwszego stopnia', 'university': 'Państwowa Wyższa Szkoła Techniczno-Ekonomiczna im. ks. Bronisława Markiewicza w Jarosławiu', 'scoreHistory': [{'scoreThreshold': 650.0, 'peopleMax': 110, 'peopleApplied': 341, 'scoreMax': 1000, 'year': 2023}, {'scoreThreshold': 580.0, 'peopleMax': 102, 'peopleApplied': 24, 'scoreMax': 1000, 'year': 2022}, {'scoreThreshold': 960.0, 'peopleMax': 53, 'peopleApplied': 81, 'scoreMax': 1000, 'year': 2021}, {'scoreThreshold': 740.0, 'peopleMax': 100, 'peopleApplied': 486, 'scoreMax': 1000, 'year': 2020}, {'scoreThreshold': 550.0, 'peopleMax': 78, 'peopleApplied': 351, 'scoreMax': 1000, 'year': 2019}, {'scoreThreshold': 970.0, 'peopleMax': 27, 'peopleApplied': 147, 'scoreMax': 1000, 'year': 2018}, {'scoreThreshold': 930.0, 'peopleMax': 28, 'peopleApplied': 33, 'scoreMax': 1000, 'year': 2017}]}, 'Collegium Masoviense - Wyższa Szkoła Nauk o Zdrowiu w Żyrardowie': {'id': 'bfa8fb54-1c97-468b-96e3-dec677f3099e', 'fieldName': 'Położnictwo', 'tier': 'pierwszego stopnia', 'university': 'Collegium Masoviense - Wyższa Szkoła Nauk o Zdrowiu w Żyrardowie', 'scoreHistory': [{'scoreThreshold': 53.0, 'peopleMax': 24, 'peopleApplied': 12, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 96.0, 'peopleMax': 30, 'peopleApplied': 81, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 50.0, 'peopleMax': 45, 'peopleApplied': 462, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 97.0, 'peopleMax': 58, 'peopleApplied': 192, 'scoreMax': 100, 'year': 2020}, {'scoreThreshold': 78.0, 'peopleMax': 92, 'peopleApplied': 925, 'scoreMax': 100, 'year': 2019}, {'scoreThreshold': 100.0, 'peopleMax': 115, 'peopleApplied': 1856, 'scoreMax': 100, 'year': 2018}, {'scoreThreshold': 63.0, 'peopleMax': 25, 'peopleApplied': 102, 'scoreMax': 100, 'year': 2017}]}, 'Kaszubsko-Pomorska Szkoła Wyższa w Wejherowie': {'id': '718be66e-faea-431d-9902-f8f64d35ec70', 'fieldName': 'Administracja i bezpieczeństwo wewnętrzne', 'tier': 'pierwszego stopnia', 'university': 'Kaszubsko-Pomorska Szkoła Wyższa w Wejherowie', 'scoreHistory': [{'scoreThreshold': 100.0, 'peopleMax': 29, 'peopleApplied': 182, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 97.0, 'peopleMax': 44, 'peopleApplied': 144, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 59.0, 'peopleMax': 77, 'peopleApplied': 468, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 61.0, 'peopleMax': 64, 'peopleApplied': 728, 'scoreMax': 100, 'year': 2020}, {'scoreThreshold': 86.0, 'peopleMax': 37, 'peopleApplied': 81, 'scoreMax': 100, 'year': 2019}, {'scoreThreshold': 63.0, 'peopleMax': 93, 'peopleApplied': 966, 'scoreMax': 100, 'year': 2018}, {'scoreThreshold': 85.0, 'peopleMax': 113, 'peopleApplied': 1485, 'scoreMax': 100, 'year': 2017}, {'scoreThreshold': 89.0, 'peopleMax': 114, 'peopleApplied': 2700, 'scoreMax': 100, 'year': 2016}, {'scoreThreshold': 59.0, 'peopleMax': 35, 'peopleApplied': 80, 'scoreMax': 100, 'year': 2015}]}, 'Górnośląska Wyższa Szkoła Przedsiębiorczości im. Karola Goduli w Chorzowie': {'id': '7cc778ab-d5c4-4e2d-895a-222988ae44bf', 'fieldName': 'Gry i grafika interaktywna', 'tier': 'pierwszego stopnia', 'university': 'Górnośląska Wyższa Szkoła Przedsiębiorczości im. Karola Goduli w Chorzowie', 'scoreHistory': [{'scoreThreshold': 720.0, 'peopleMax': 119, 'peopleApplied': 1782, 'scoreMax': 1000, 'year': 2023}, {'scoreThreshold': 750.0, 'peopleMax': 55, 'peopleApplied': 377, 'scoreMax': 1000, 'year': 2022}, {'scoreThreshold': 700.0, 'peopleMax': 28, 'peopleApplied': 72, 'scoreMax': 1000, 'year': 2021}, {'scoreThreshold': 880.0, 'peopleMax': 50, 'peopleApplied': 72, 'scoreMax': 1000, 'year': 2020}, {'scoreThreshold': 690.0, 'peopleMax': 36, 'peopleApplied': 18, 'scoreMax': 1000, 'year': 2019}, {'scoreThreshold': 900.0, 'peopleMax': 111, 'peopleApplied': 600, 'scoreMax': 1000, 'year': 2018}, {'scoreThreshold': 730.0, 'peopleMax': 81, 'peopleApplied': 1368, 'scoreMax': 1000, 'year': 2017}, {'scoreThreshold': 980.0, 'peopleMax': 113, 'peopleApplied': 2108, 'scoreMax': 1000, 'year': 2016}]}, 'Podkarpacka Szkoła Wyższa im. bł. ks. Władysława Findysza w Jaśle': {'id': '941a843a-3594-438e-99f2-b7f531c85e1f', 'fieldName': 'Finanse i rachunkowość', 'tier': 'pierwszego stopnia', 'university': 'Podkarpacka Szkoła Wyższa im. bł. ks. Władysława Findysza w Jaśle', 'scoreHistory': [{'scoreThreshold': 550.0, 'peopleMax': 87, 'peopleApplied': 1248, 'scoreMax': 1000, 'year': 2023}, {'scoreThreshold': 630.0, 'peopleMax': 70, 'peopleApplied': 112, 'scoreMax': 1000, 'year': 2022}, {'scoreThreshold': 830.0, 'peopleMax': 28, 'peopleApplied': 28, 'scoreMax': 1000, 'year': 2021}, {'scoreThreshold': 990.0, 'peopleMax': 104, 'peopleApplied': 117, 'scoreMax': 1000, 'year': 2020}, {'scoreThreshold': 880.0, 'peopleMax': 48, 'peopleApplied': 312, 'scoreMax': 1000, 'year': 2019}]}, 'Gnieźnieńska Szkoła Wyższa Milenium z siedzibą w Gnieźnie': {'id': 'f16c137a-d087-41aa-9cd5-486a34624c3f', 'fieldName': 'Pedagogika [rozporządzenie]', 'tier': 'pierwszego stopnia', 'university': 'Gnieźnieńska Szkoła Wyższa Milenium z siedzibą w Gnieźnie', 'scoreHistory': [{'scoreThreshold': 1000.0, 'peopleMax': 117, 'peopleApplied': 168, 'scoreMax': 1000, 'year': 2023}, {'scoreThreshold': 880.0, 'peopleMax': 30, 'peopleApplied': 136, 'scoreMax': 1000, 'year': 2022}, {'scoreThreshold': 770.0, 'peopleMax': 54, 'peopleApplied': 420, 'scoreMax': 1000, 'year': 2021}, {'scoreThreshold': 810.0, 'peopleMax': 31, 'peopleApplied': 56, 'scoreMax': 1000, 'year': 2020}, {'scoreThreshold': 500.0, 'peopleMax': 78, 'peopleApplied': 240, 'scoreMax': 1000, 'year': 2019}, {'scoreThreshold': 930.0, 'peopleMax': 75, 'peopleApplied': 1554, 'scoreMax': 1000, 'year': 2018}, {'scoreThreshold': 730.0, 'peopleMax': 76, 'peopleApplied': 592, 'scoreMax': 1000, 'year': 2017}, {'scoreThreshold': 540.0, 'peopleMax': 59, 'peopleApplied': 624, 'scoreMax': 1000, 'year': 2016}, {'scoreThreshold': 780.0, 'peopleMax': 23, 'peopleApplied': 115, 'scoreMax': 1000, 'year': 2015}]}, 'Małopolska Wyższa Szkoła Ekonomiczna z siedzibą w Tarnowie': {'id': 'a63836cb-22f3-4aa0-b99e-53eab065d612', 'fieldName': 'Finanse i rachunkowość', 'tier': 'pierwszego stopnia', 'university': 'Małopolska Wyższa Szkoła Ekonomiczna z siedzibą w Tarnowie', 'scoreHistory': [{'scoreThreshold': 61.0, 'peopleMax': 79, 'peopleApplied': 1197, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 66.0, 'peopleMax': 39, 'peopleApplied': 174, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 63.0, 'peopleMax': 62, 'peopleApplied': 465, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 86.0, 'peopleMax': 57, 'peopleApplied': 80, 'scoreMax': 100, 'year': 2020}, {'scoreThreshold': 98.0, 'peopleMax': 117, 'peopleApplied': 600, 'scoreMax': 100, 'year': 2019}, {'scoreThreshold': 93.0, 'peopleMax': 76, 'peopleApplied': 24, 'scoreMax': 100, 'year': 2018}, {'scoreThreshold': 78.0, 'peopleMax': 57, 'peopleApplied': 24, 'scoreMax': 100, 'year': 2017}, {'scoreThreshold': 89.0, 'peopleMax': 112, 'peopleApplied': 1472, 'scoreMax': 100, 'year': 2016}, {'scoreThreshold': 91.0, 'peopleMax': 74, 'peopleApplied': 348, 'scoreMax': 100, 'year': 2015}]}, 'Akademia Piotrkowska': {'id': 'ea19e3bc-9444-493e-a426-c766d2291571', 'fieldName': 'Bezpieczeństwo narodowe', 'tier': 'pierwszego stopnia', 'university': 'Akademia Piotrkowska', 'scoreHistory': [{'scoreThreshold': 77.0, 'peopleMax': 87, 'peopleApplied': 660, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 63.0, 'peopleMax': 52, 'peopleApplied': 720, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 70.0, 'peopleMax': 70, 'peopleApplied': 630, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 85.0, 'peopleMax': 29, 'peopleApplied': 100, 'scoreMax': 100, 'year': 2020}, {'scoreThreshold': 78.0, 'peopleMax': 91, 'peopleApplied': 852, 'scoreMax': 100, 'year': 2019}, {'scoreThreshold': 87.0, 'peopleMax': 82, 'peopleApplied': 1014, 'scoreMax': 100, 'year': 2018}]}, 'Państwowa Wyższa Szkoła Zawodowa w Głogowie': {'id': 'f0df6d8f-4826-4db7-be07-65d7eb82002d', 'fieldName': 'Automatyka i robotyka', 'tier': 'pierwszego stopnia', 'university': 'Państwowa Wyższa Szkoła Zawodowa w Głogowie', 'scoreHistory': [{'scoreThreshold': 53.0, 'peopleMax': 32, 'peopleApplied': 87, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 93.0, 'peopleMax': 75, 'peopleApplied': 684, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 53.0, 'peopleMax': 61, 'peopleApplied': 44, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 93.0, 'peopleMax': 122, 'peopleApplied': 1116, 'scoreMax': 100, 'year': 2020}]}, 'Lubelska Szkoła Wyższa w Rykach': {'id': '6eaec7c7-663b-4630-aa6b-51c9a8df2f06', 'fieldName': 'Pedagogika', 'tier': 'pierwszego stopnia', 'university': 'Lubelska Szkoła Wyższa w Rykach', 'scoreHistory': [{'scoreThreshold': 76.0, 'peopleMax': 51, 'peopleApplied': 190, 'scoreMax': 100, 'year': 2023}, {'scoreThreshold': 52.0, 'peopleMax': 27, 'peopleApplied': 96, 'scoreMax': 100, 'year': 2022}, {'scoreThreshold': 63.0, 'peopleMax': 84, 'peopleApplied': 84, 'scoreMax': 100, 'year': 2021}, {'scoreThreshold': 78.0, 'peopleMax': 124, 'peopleApplied': 2034, 'scoreMax': 100, 'year': 2020}, {'scoreThreshold': 60.0, 'peopleMax': 35, 'peopleApplied': 84, 'scoreMax': 100, 'year': 2019}, {'scoreThreshold': 52.0, 'peopleMax': 48, 'peopleApplied': 376, 'scoreMax': 100, 'year': 2018}, {'scoreThreshold': 77.0, 'peopleMax': 74, 'peopleApplied': 737, 'scoreMax': 100, 'year': 2017}, {'scoreThreshold': 90.0, 'peopleMax': 43, 'peopleApplied': 110, 'scoreMax': 100, 'year': 2016}]}}